.header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 160px;
    background-color: white;
    transition: top 0.3s;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0;
}
.header__infor{
    background-color: #2D982A;
    font-weight: bold;
    height: 35px;
    align-content: center;

}
.header__infor--iconClose {
    color: white;
    float: left;
    font-size: 30px;
    font-weight: lighter;
    height: 25px;
    line-height: 100%;
    padding: 0px 15px;
}
.header__infor--iconClose:hover,
.header__infor--iconClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header__infor--content{
    height: 30px;
}
.header__infor p{
    color: white;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    font-size: 10px;
    padding-top:5px;
}
.header__infor--time{
    font-weight: lighter;
    color: white !important;
}
.header__infor--time a{
    color: white;
}
.header__content{
    display: flex;
    margin: 5px auto;
    align-items: center;
    width: 90%;
}
.header__content--logo{
    margin-left: 17px;
}
.header__content--logo img{
    width: 180px;
    height: 59px;
}

.header__content--list{
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
.content__top{
    display: flex;
    margin-bottom: 10px;
}
.content__top--signIn{
    justify-content: flex-end;
    cursor: pointer;
}
b{
    color: #000 !important;
}
.content__top--menu{
    margin: 0px 50px;
    flex: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 100px
    /* justify-content: space-evenly; */
}
.content__top--menu a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content__top--menu nav ul {
    list-style: none;
    text-align: right;
  }
  
.content__top--menu nav li {
    display: inline-block;
    margin-left: 40px;
  }
  
.content__top--menu nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
  }

.content__bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    /* width: 450px;
    height: 20px;
    border: 1px solid !important;
    border-left: none !important;
    border-radius: 20px; */

    display: flex;
flex-direction: row;
align-items: center;
padding: 0px 1px 0px 29px;
gap: 12px;

position: absolute;
width: 450px;
height: 35px;
left: 424px;
bottom: 51px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 30px;
}
.bi-search{
    display: flex;
    align-items: center;
    height: 27px;
    padding: 0px 5px;
    /* border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 0px;
    border-radius: 20px 0px 0px 20px; */
}
.bi-person-circle, .bi-file-earmark-text, .bi-cart-fill{
    color: #2D982A !important;
}

.history, .cart{cursor: pointer;}

.history{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 14px;
gap: 10px;

position: absolute;
width: 125.06px;
height: 50px;
left: 1134px;
bottom: 43px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 10px;
}
.bi .bi-file-earmark-text{

}
.history .text{
    width: 65px;
height: 36px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.02em;
align-items: center;
color: #000000;
}
.cart{
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 11px 14px 12px;
gap: 6px;

position: absolute;
width: 123px;
height: 50px;
left: 1277px;
bottom: 43px;

border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 10px;
}
.cart .text{
    width: 58px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;


letter-spacing: -0.02em;

color: #000000;
}

.header__navbar{
    background-color: #2D982A;
    display: flex;
    justify-content: center;
    color: white;
    height: fit-content;
}
.header__navbar div{
    margin: 0 50px;
    cursor: pointer;
}
.header__navbar div p{
    margin: 5px;
}