<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về Thanh Bình</title>
    <script src="../js/getHeaderFooter.js" defer></script>

</head>
<body>
    <header></header>
    <div class="container">
        <div>
            <div class="section">
                <ol>
                    <li>Trang chủ</li>
                    <li>Về Thanh Bình</li>
                </ol>
            </div>
        </div>

        <div class="content">
            <div class="navbar">
                <h2>MỤC LỤC</h2>
                <h3>Giới thiệu về nhà thuốc</h3>
                <div class="list">
                    <a href="app-overview" target="content-posts"><p class="list-item" >Tổng quan doanh nghiệp</p> </a>   
                    <a href="app-instruction" target="content-posts"><p class="list-item">Hướng dẫn mua hàng Online</p></a>
                    <a href="./policydelivery/policydelivery.component.html" target="content-posts"><p class="list-item">Chính sách giao hàng</p></a>
                    <a href="./policypayment/policypayment.component.html" target="content-posts"><p class="list-item">Chính sách thanh toán</p></a>
                    <a href="./policywarranty/policywarranty.component.html" target="content-posts"><p class="list-item">Chính sách đổi trả, bảo hành</p></a>
                    <a href="./policysecurity/policysecurity.component.html" target="content-posts"><p class="list-item">Chính sách bảo mật</p></a>
                    <a href="./memberpoint/memberpoint.component.html" target="content-posts"><p class="list-item">Thể lệ tích điểm thành viên</p></a>
                </div>
            </div>
           
            <iframe src="/my-project/src/app/" frameborder="0" class="content-posts" name="content-posts" id="content-posts">
            </iframe>
        </div>
    </div>
    <footer></footer>
</body>
</html>